.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.content {
    width: 100%;
    max-width: 1000px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        color: #a7a7a7;

        a {
            text-decoration: none;
            margin-inline: 6px;
            color: #a7a7a7;
        }
    }

    .right {
        img {
            height: 60px;
            width: 60px;
            margin-inline: 20px;
        }
    }
}