.container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.content {
    width: 100%;
    max-width: 1000px;
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        color: rgb(167, 167, 167);

        a {
            text-decoration: none;
            margin-inline: 6px;
            color: rgb(167, 167, 167);
        }
    }

    .right {
        img {
            height: 60px;
            width: 60px;
            margin-inline: 20px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 500px) {
    .content {
        flex-direction: column-reverse;
        padding: 20px 0;

        .right {
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 300px) {
    .content {
        .right{
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}