<div id="about" class="container">
    <div class="content">
        <div class="top-half">
            <div class="img-box" data-aos="zoom-in">
                <img src="/assets/img/ich.png" alt="that's me">
            </div>
            <div class="text-box" data-aos="zoom-in">
                <h2>About me.</h2>
                <p>"I'm a passionate Gamer but also love to be out in nature.
                    My journey as a web developer just started and I'm ready to push the boundaries."</p>
            </div>
        </div>
        <div class="bottom-half">
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/walk.png" alt="walking">
                </div>
                <h3>I STARTED</h3>
                <p>as a medical product consultant, where I combined sales talent with medical knowledge.
                    After a few years of working, I needed a new challenge.
                    So I started getting some technical skills.
                </p>
            </div>
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/heart.png" alt="heart">
                </div>
                <h3>MY SEARCH</h3>
                <p>started as you can imagine on the internet where I quickly came across the Developer Akademie.
                    There I learned the essentials to become a front-end developer.
                </p>
            </div>
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/search.png" alt="search">
                </div>
                <h3>MY PASSION</h3>
                <p>always has been computers and tech. I was spending a lot of time playing video games, 
                    but there was this thought about how it exactly works.</p>
            </div>
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/flight-takeoff.png" alt="plane">
                </div>
                <h3>MY GOAL</h3>
                <p>is to develop myself in order to expand the skills that are really needed.
                    This not only applies to programming, but also to my personality.
                </p>
            </div>
        </div>
    </div>
</div>