<div id="about" class="container">
    <div class="content">
        <div class="top-half">
            <div class="img-box">
                <img src="/assets/img/placeholder.png" alt="">
            </div>
            <div class="text-box">
                <h2>About me.</h2>
                <p>"I'm a passionate Gamer but also loves to be out in the natur.
                    My jurney as a web developer just started and I'm ready to push the boundries."</p>
            </div>
        </div>
        <div class="bottom-half">
            <div class="box">
                <div class="icon">
                    <img src="/assets/img/walk-line.png" alt="walking">
                </div>
                <h3>I STARTED</h3>
                <p>as a medical product consultant, where I combined sales talent with medical knowledge.
                    After a few years of working I needed a new challenge.
                    So i started getting some technical skills.
                </p>
            </div>
            <div class="box">
                <div class="icon">
                    <img src="/assets/img/heart-line.png" alt="heart">
                </div>
                <h3>MY SEARCH</h3>
                <p>started as you can imagine in the internet where I quickly came across the Developer Akademie.
                    There I learned the essentials to become a front-end developer.
                </p>
            </div>
            <div class="box">
                <div class="icon">
                    <img src="/assets/img/search-line.png" alt="search">
                </div>
                <h3>MY PASSION</h3>
                <p>always has been computers and tech. I was spending a lot of time playing videogames, 
                    but there was this thought how it exactly work.</p>
            </div>
            <div class="box">
                <div class="icon">
                    <img src="/assets/img/flight-takeoff-line.png" alt="plane">
                </div>
                <h3>MY GOAL</h3>
                <p>is to develop myself in order to expand my skills that are really needed.
                    This not only applies to programming, but also to my personality.
                </p>
            </div>
        </div>
    </div>
</div>