<div id="about" class="container">
    <div class="content">
        <div class="top-half">
            <div class="img-box" data-aos="zoom-in">
                <img src="/assets/img/me_2.png" alt="that's me">
            </div>
            <div class="text-box" data-aos="zoom-in">
                <h2>About me.</h2>
                <p>"I'm a passionate Developer but also love to be out in nature.<br>
                    Ready to prove my experience and looking for new challenges."</p>
            </div>
        </div>
        <div class="bottom-half">
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/walk.png" alt="walking">
                </div>
                <h3>I STARTED</h3>
                <p>as a medical product consultant, where I combined sales talent with medical knowledge.
                    But I was also interested in the software and structured data.
                    So I started getting some technical skills.
                </p>
            </div>
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/heart.png" alt="heart">
                </div>
                <h3>MY SEARCH</h3>
                <p>started with small programming courses and I applied to the "Developer Akademie".
                    There I learned the essentials to become a front-end developer professional.
                </p>
            </div>
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/search.png" alt="search">
                </div>
                <h3>MY PASSION</h3>
                <p>always has been computers and tech. <br> I give everything to get my projects to the
                    best level and like to improve them always further.</p>
            </div>
            <div class="box" data-aos="zoom-in">
                <div class="icon">
                    <img src="/assets/img/flight-takeoff.png" alt="plane">
                </div>
                <h3>MY GOAL</h3>
                <p>is to develop myself in order to expand the skills that are really needed.<br>
                    I want to be an integral part of a team.
                </p>
            </div>
        </div>
    </div>
</div>