<div id="projects" class="container">
    <h2>My work</h2>
    <div class="nav">
        <button (click)="setFilter(0)" class="filter active">All</button>
        <button (click)="setFilter(1)" class="filter">Angular</button>
        <button (click)="setFilter(2)" class="filter">Java Script</button>
    </div>
    <div class="content">
        <div *ngIf="javascript || all" class="box project1">
            <div class="overlay">
                <h3>El Pollo Loco</h3>
                <span>JavaScript-based jump and run game.</span>
                <a href="">Try out</a>
            </div>
        </div>
        <div *ngIf="javascript || all" class="box project2">
            <div class="overlay">
                <h3>Pokedex</h3>
                <span>Build with a PokeAPI and JavaScript.</span>
                <a href="">Try out</a>
            </div>
        </div>
        <div *ngIf="angular || all" class="box project3">
            <div class="overlay">
                <h3>Angular</h3>
                <span>test</span>
                <a href="">Try out</a>
            </div>
        </div>
    </div>
</div>