.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

h2 {
    padding: 60px 0;
    color: rgb(255, 255, 255);
}

.nav {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    position: relative;
    margin: 0 4px 8px 4px;

    .btn {
        width: 120px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        border: 1px solid rgb(250, 39, 89);
        outline: none;
        color: rgb(255, 255, 255);
        font-size: 17px;
        transition: 500ms ease-in-out;

        &:hover {
            transition: 500ms ease-in-out;
            background: rgba(250, 39, 89, 0.5);
        }

        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
            height: 50px;
            fill: none;
            stroke: rgb(255, 255, 255);
            stroke-dasharray: 139 575;
            stroke-dashoffset: 139;
            transition: 500ms ease-in-out;

            &:hover {
                stroke-dashoffset: -575;
            }
        }
    }

    .active {
        background-color: rgba(250, 39, 89, 0.5);
    }
}


.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 57.5px;

    .box {

        background-size: cover;
        background-position: center;
        width: 350px;
        height: 300px;
        margin: 20px;
        border-radius: 2px;
    }

    .project1 {
        background-image: url('/assets/img/project1.png');
    }

    .project2 {
        background-image: url('/assets/img/project2.png');
    }

    .project3 {
        background-image: url('/assets/img/project3.jpg');
    }


    .overlay {
        width: 100%;
        height: calc(100% - 140px);
        padding: 70px 0;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        transition: all 500ms ease-in-out;
        

        &:hover {
            opacity: 1;
            transition: all 125ms ease-in-out;
        }

        h3 {
            color: rgb(250, 39, 89);
        }

        span {
            text-align: center;
        }

        .btn {
            color: rgb(250, 39, 89);
            border: 2px solid rgb(250, 39, 89);
            font-weight: 600;

            &:hover {
                color: white;
            }
        }
    }
}

@media (max-width: 390px) {
    .content {
        .box {
            height: 250px;
        }
    }
}