<div id="contact" class="container">
    <div class="content">
        <h2 data-aos="zoom-in">Contact me.</h2>
        <span data-aos="zoom-in">Get in touch via the form below, or by emailing
            <a href="mailto:hello@lukas.de">contact@lukas-kolbe-dev.de</a>
        </span>
        <form (submit)="sendMail()" ngNativeValidate #myForm>
            <label data-aos="zoom-in" for="name">Name<span>*</span></label>
            <input data-aos="zoom-in" required type="text" name="name" #nameField placeholder="Enter your name">
            <label data-aos="zoom-in" for="email-address">Email address<span>*</span></label>
            <input data-aos="zoom-in" required type="email" name="email-address" #emailField
                placeholder="Enter your Email address">
            <label data-aos="zoom-in" for="message">Message<span>*</span></label>
            <textarea data-aos="zoom-in" required name="message" cols="30" rows="10" #messageField
                placeholder="Enter your message"></textarea>
            <div class="submit">
                <div class="popup" [class.visible]="send">
                    Message send successfully.
                </div>
                <div data-aos="zoom-in">
                    <button type="submit" #sendButton>
                        <svg viewBox="0 0 120 50">
                            <polyline points="119,1 119,49 1,49 1,1 119,1" />
                            <polyline points="119,1 119,49 1,49 1,1 119,1" />
                        </svg>
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

