.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.content {
    width: calc(100% - 40px);
    max-width: 500px;
    padding: 80px 20px;

    h2 {
        color: rgb(45, 252, 216);
        padding-bottom: 20px;
        font-size: 56px !important;
    }

    span {
        color: rgb(167, 167, 167);

        a {
            color: rgb(45, 252, 216);
            text-decoration: none;
        }
    }
}

form {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        color: #ffffff;
        font-weight: 600;
        padding-bottom: 15px;

        span {
            color: rgb(250, 39, 89);
        }
    }

    input {
        margin-bottom: 15px;
        background-color: rgb(26, 26, 26);
        border: none;
        padding: 12px;
        color: rgb(255, 255, 255);
        font-size: 16px;

        &::placeholder {
            color: rgb(167, 167, 167);
        }

        &:focus-visible {
            outline: none;
        }
    }

    textarea {
        background-color: rgb(26, 26, 26);
        border: none;
        padding: 12px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        resize: none;

        &::placeholder {
            color: rgb(167, 167, 167);
        }

        &:focus-visible {
            outline: none;
        }
    }

    .submit {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        .center {
            position: absolute;

            .btn {
                width: 120px;
                height: 50px;
                cursor: pointer;
                background: transparent;
                border: 1px solid rgb(45, 252, 216);
                outline: none;
                color: rgb(45, 252, 216);
                font-size: 17px;
                transition: 500ms ease-in-out;

                &:hover {
                    transition: 500ms ease-in-out;
                    background: rgba(45, 252, 217, 0.5);
                    color: rgb(255, 255, 255);
                }

                svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 120px;
                    height: 50px;
                    fill: none;
                    stroke: rgb(255, 255, 255);
                    stroke-dasharray: 139 575;
                    stroke-dashoffset: 139;
                    transition: 500ms ease-in-out;

                    &:hover {
                        stroke-dashoffset: -575;
                    }
                }
            }
        }
    }
}