.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.content {
    width: calc(100% - 40px);
    max-width: 500px;
    padding: 80px 20px;

    h2 {
        color: rgb(45, 252, 216);
        padding-bottom: 20px;
        font-size: 56px !important;
    }

    span {
        color: rgb(167, 167, 167);

        a {
            color: rgb(45, 252, 216);
            text-decoration: none;
        }
    }
}

form {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        color: #ffffff;
        font-weight: 600;
        padding-bottom: 15px;

        span {
            color: rgb(250, 39, 89);
        }
    }

    input {
        margin-bottom: 15px;
        background-color: rgb(26, 26, 26);
        border: none;
        padding: 12px;
        color: rgb(255, 255, 255);
        font-size: 16px;

        &::placeholder {
            color: rgb(167, 167, 167);
        }

        &:focus-visible {
            outline: none;
        }
    }

    textarea {
        background-color: rgb(26, 26, 26);
        border: none;
        padding: 12px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        resize: none;

        &::placeholder {
            color: rgb(167, 167, 167);
        }

        &:focus-visible {
            outline: none;
        }
    }

    .submit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15px;

        .popup {
            color: rgb(45, 252, 216);
            border: 1px solid rgb(45, 252, 216);
            background-color: rgba(45, 252, 216, 0.2);
            padding: 14.5px 20px;
            margin-right: 30px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s linear;

            @media (max-width: 432px) {
                position: absolute;
                bottom: 146px;
                margin-right: unset;
            }
        }

        .visible {
            opacity: 1;
        }

        button {
            width: 120px;
            height: 50px;
            cursor: pointer;
            background: transparent;
            border: 1px solid rgb(45, 252, 216);
            outline: none;
            color: rgb(45, 252, 216);
            font-size: 17px;
            transition: 500ms ease-in-out;

            &:hover {
                transition: 500ms ease-in-out;
                background: rgba(45, 252, 217, 0.5);
                color: rgb(255, 255, 255);
            }

            svg {
                position: absolute;
                left: 0;
                top: 0;
                width: 120px;
                height: 50px;
                fill: none;
                stroke: rgb(255, 255, 255);
                stroke-dasharray: 139 575;
                stroke-dashoffset: 139;
                transition: 500ms ease-in-out;

                &:hover {
                    stroke-dashoffset: -575;
                }
            }
        }
    }
}