<div id="contact" class="container">
    <div class="content">
        <h2 data-aos="zoom-in">Contact me.</h2>
        <span data-aos="zoom-in">Get in touch via the form below, or by emailing
            <a href="mailto:hello@lukas.de">kolbe.lukas@gmx.de</a>
        </span>
        <form action="https://lukas-kolbe.developerakademie.net/send_mail/send_mail.php" method="post">
            <label data-aos="zoom-in" for="name">Name<span>*</span></label>
            <input data-aos="zoom-in" required type="text" name="name" id="name" placeholder="Enter your name">
            <label data-aos="zoom-in" for="email-address">Email address<span>*</span></label>
            <input data-aos="zoom-in" required type="email" name="email-address" id="email-address" placeholder="Enter your Email address">
            <label data-aos="zoom-in" for="message">Message<span>*</span></label>
            <textarea data-aos="zoom-in" required name="message" id="message" cols="30" rows="10"
                placeholder="Enter your message"></textarea>
            <div class="submit">
                <div data-aos="zoom-in" class="center">
                    <button type="submit" class="btn">
                        <svg viewBox="0 0 120 50" class="border">
                            <polyline points="119,1 119,49 1,49 1,1 119,1" />
                            <polyline points="119,1 119,49 1,49 1,1 119,1" />
                        </svg>
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>