header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: #000000;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding-inline: 24px;

    .logo {
        height: 35px;
        cursor: pointer;
    }

    .menu {
        display: none;
        height: 20px;
        cursor: pointer;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        margin-left: 40px;
        background-color: #000000;

        &:hover {
            color: #FA2759;
        }
    }

    .active {
        color: #FA2759;
    }
}

@media (max-width: 650px) {
    .content {
        .menu {
            display: block;
        }
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 24px;
        top: 85px;
        text-align: end;
        height: 0px;
        overflow: hidden;
        transition: height .3s ease-in-out;
    }

    .responsive {
        height: 80px;
        transition: height .3s ease-in-out;
    }
}