<header>
    <div class="content">
        <img class="logo" routerLink="/" src="assets/img/logo_white.png" alt="logo in white color">
        <div (click)="openMenu()" class="nav-container">
            <input type="checkbox" [checked]="menuOpen">
            <div>
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
        <div class="menu" [class.responsive]="menuOpen">
            <a (click)="closeMenu()" class="active">HOME</a>
            <a (click)="closeMenu('skills')">SKILLS</a>
            <a (click)="closeMenu('projects')">PROJECTS</a>
            <a (click)="closeMenu('about')">ABOUT</a>
        </div>
    </div>
</header>