header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: #000000;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding-inline: 24px;

    .logo {
        height: 35px;
        cursor: pointer;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        margin-left: 40px;

        &:hover {
            color: #FA2759;
        }
    }

    .active {
        color: #FA2759;
    }
}

.nav-container {
    display: none;

    input {
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        height: 26px;
        width: 32px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    div {
        grid-area: 1 / 1 / 2 / 2;
        height: 26px;
        width: 32px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: #ffffff;
        }

        .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        .line2 {
            transition: transform 0.2s ease-in-out;
        }

        .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    input[type="checkbox"]:checked~div .line1 {
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked~div .line2 {
        transform: scaleY(0);
    }

    input[type="checkbox"]:checked~div .line3 {
        transform: rotate(-45deg);
    }
}

@media (max-width: 650px) {

    .nav-container {
        display: grid;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 24px;
        top: 70px;
        z-index: 1;
        text-align: end;
        background-color: #000000;
        height: 0px;
        overflow: hidden;
        transition: height .3s ease-in-out;

        a {
            padding: 5px 0px;
            margin-left: 24px;
        }
    }

    .responsive {
        height: 120px;
        transition: height .3s ease-in-out;
    }
}