header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: #000000;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding-inline: 24px;

    img {
        height: 35px;
        cursor: pointer;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        margin-left: 40px;

        &:hover {
            color: #FA2759;
        }
    }

    .active {
        color: #FA2759;
    }
}