<div id="skills" class="container">
    <h2 data-aos="zoom-in">MY Skills</h2>
    <div class="content">
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="assets/img/java-script.png" alt="java script">
            </div>
            <span>JavaScript</span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="assets/img/angular.png" alt="angular">
            </div>
            <span>Angular</span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="assets/img/html_css.png" alt="html and css">
            </div>
            <span>HTML / CSS</span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="assets/img/scrum.png" alt="scrum">
            </div>
            <span>SCRUM</span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="assets/img/git.png" alt="git">
            </div>
            <span>Git</span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="assets/img/rest-api.png" alt="rest api">
            </div>
            <span>Rest API</span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="" alt="">
            </div>
            <span></span>
        </div>
        <div class="box" data-aos="zoom-in">
            <div>
                <img src="" alt="">
            </div>
            <span></span>
        </div>
    </div>
</div>