.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: #000000;
}

.content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 24px;

    h1 {
        color: rgb(255, 255, 255);
        margin-bottom: 80px;

        .name {
            color: #fa2759;
        }

        .accent {
            color: rgb(45, 252, 216);
        }
    }

    img {
        height: 300px;
        width: 300px;
        border-radius: 100%;
        object-fit: cover;
        object-position: -95px;
    }

    .center {
        position: relative;
        z-index: 1;

        .btn {
            width: 230px;
            height: 60px;
            cursor: pointer;
            background: transparent;
            border: 1px solid rgb(45, 252, 216);
            outline: none;
            color: rgb(45, 252, 216);
            font-size: 17px;
            transition: 500ms ease-in-out;

            &:hover {
                transition: 500ms ease-in-out;
                background: rgba(45, 252, 217, 0.5);
                color: rgb(255, 255, 255);
            }

            svg {
                position: absolute;
                left: 0;
                top: 0;
                width: 230px;
                height: 60px;
                fill: none;
                stroke: rgb(255, 255, 255);
                stroke-dasharray: 139 575;
                stroke-dashoffset: 139;
                transition: 500ms ease-in-out;

                &:hover {
                    stroke-dashoffset: -575;
                }
            }
        }
    }
}


@media (max-height: 760px) and (max-width: 650px) {
    .content {
        h1 {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 840px) {
    .content {
        h1 {
            font-size: 50px;
        }
    }
}

@media (max-width: 720px) {
    .content {
        h1 {
            font-size: 43px;
        }
    }
}

@media (max-width: 650px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 70px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            height: 230px;
            width: 230px;
            margin: -20px 0 20px 0;
            object-position: -80px;
        }

        h1 {
            font-size: 50px;
            margin-bottom: 30px;
        }

        a {
            margin-left: unset;
        }
    }
}

@media (max-width: 535px) {
    .content {
        h1 {
            font-size: 40px;
        }
    }
}

@media (max-width: 360px) {
    .content {
        h1 {
            font-size: 30px;
        }
    }
}