.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #000000;
}

.content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 24px;

    h1 {
        color: #ffffff;
        margin-bottom: 80px;

        .name {
            color: #FA2759;
        }

        .accent {
            color: #2DFCD8;
        }
    }

    a {
        margin-left: 12px;
        background-color: #000000;
        color: #2DFCD8;
        border: 1px solid #2DFCD8;
        padding: 20px 70px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 50ms ease-in-out;

        &:hover {
            background-color: #2DFCD8;
            color: black;
        }
    }

    img {
        height: 270px;
        width: 270px;
    }
}

$base: 10px;

.arrow-container {
    position: absolute;
    width: $base * 3.5;
    bottom: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .chevron {
        position: absolute;
        cursor: pointer;
        width: $base * 3.5;
        height: $base * 0.8;
        opacity: 0;
        transform: scale(0.3);
        animation: move-chevron 3s ease-out infinite;
    }

    .chevron:first-child {
        animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
        animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        background: #2DFCD8;
    }

    .chevron:before {
        left: 0;
        transform: skewY(30deg);
    }

    .chevron:after {
        right: 0;
        width: 50%;
        transform: skewY(-30deg);
    }

    @keyframes move-chevron {
        25% {
            opacity: 1;
        }

        33.3% {
            opacity: 1;
            transform: translateY($base * 3.8);
        }

        66.6% {
            opacity: 1;
            transform: translateY($base * 5.2);
        }

        100% {
            opacity: 0;
            transform: translateY($base * 8) scale(0.5);
        }
    }
}

@media (max-height: 760px) and (max-width: 650px) {
    .content {
        h1 {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 840px) {
    .content {
        h1 {
            font-size: 50px;
        }
    }
}

@media (max-width: 720px) {
    .content {
        h1 {
            font-size: 43px;
        }
    }
}

@media (max-width: 650px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 70px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            height: 200px;
            width: 200px;
        }

        h1 {
            font-size: 50px;
        }

        a {
            margin-left: 0;
        }
    }
    .arrow-container {
        bottom: 40px;
    }
}

@media (max-width: 535px) {
    .content {
        h1 {
            font-size: 40px;
        }
    }
}

@media (max-width: 360px) {
    .content {
        h1 {
            font-size: 30px;
        }
    }
}