<div class="container">
    <div class="content">
        <div>
            <h1>Hi,<br>
                I´m <span class="name">Lukas</span> Kolbe<br>
                Front End develop<span class="accent">e</span>r</h1>
            <button>Contact me</button>
        </div>
        <img src="assets/img/placeholder.png" alt="photo of me">
    </div>
    <div class="arrow-container">
        <a href="#skills" class="chevron"></a>
        <a href="#skills" class="chevron"></a>
        <a href="#skills" class="chevron"></a>
    </div>
</div>