<div class="container">
    <app-landing-page-bg></app-landing-page-bg>
    <div class="content">
        <div data-aos="fade-right">
            <h1>Hi,<br>
                I´m <span class="name">Lukas</span> Kolbe<br>
                Front End develop<span class="accent">e</span>r</h1>
            <div class="center">
                <a (click)="scroller.scrollToAnchor('contact')">
                    <button class="btn">
                        <svg viewBox="0 0 230 60" class="border">
                            <polyline points="229,1 229,59 1,59 1,1 229,1" />
                            <polyline points="229,1 229,59 1,59 1,1 229,1" />
                        </svg>
                        Contact me
                    </button>
                </a>
            </div>
        </div>
        <img data-aos="fade-left" src="assets/img/me_1.jpg" alt="photo of me">
    </div>
    <app-arrow-animation></app-arrow-animation>
</div>