<div class="container">
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div>
    
    <div class="content">
        <div>
            <h1>Hi,<br>
                I´m <span class="name">Lukas</span> Kolbe<br>
                Front End develop<span class="accent">e</span>r</h1>
            <div class="center">
                <a href="#contact">
                    <button class="btn">
                        <svg viewBox="0 0 230 60" class="border">
                            <polyline points="229,1 229,59 1,59 1,1 229,1"/>
                            <polyline points="229,1 229,59 1,59 1,1 229,1"/>
                        </svg>
                        Contact me
                    </button>
                </a>
            </div>
        </div>
        <img src="assets/img/placeholder.png" alt="photo of me">
    </div>
    <app-arrow-animation></app-arrow-animation>
</div>