html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(250, 39, 89);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(250, 39, 88, 0.7);
}

@media (max-width: 600px) {
    p {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    p {
        font-size: 16px;
    }
}