html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 18px;
}

.d-none {
    display: none !important;
}

@media (max-width: 600px) {
    p {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    p {
        font-size: 16px;
    }
}